/* src/App.css */

.App-container {
  padding: 2rem;
  background-color: #115942;
  border-radius: 8px;
}

.App-paper {
  padding: 2rem;
}

.Webcam-box {
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
